<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>

<IfModule mod_headers.c>
  # Caching control
  <FilesMatch "\.(php|cgi|pl|htm|html|json|xml|txt)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, private, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "Mon, 01 Jan 1990 00:00:00 GMT"
  </FilesMatch>

  # Security headers
  Header set X-XSS-Protection "1; mode=block"
  Header set X-Content-Type-Options "nosniff"
  Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  
  # CSP with frame permissions
  Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self'  data: https://app.openitconsulting.com; ; font-src 'self'; connect-src 'self' https://pdf.invoicing.co https://app.openitconsulting.com; frame-src 'self' blob: https://openitconsulting.com; frame-ancestors 'self' https://openitconsulting.com;"

  # CORS
  Header set Access-Control-Allow-Origin "https://pdf.invoicing.co"
  Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>